
*.vpk
*.vcfg

gamemode_*
perftest.cfg
ServerConfig.vdf
steam.inf
videodefaults.txt
server_default.cfg
server.cfg
gamestate_integration_logitech.cfg
csgo.fgd

postprocessing.fgd
readonly_tools_asset_info.bin
