bin
maps
panorama
resource
backup_*
*.vpk
*.vcfg
gameinfo.gi
gameinfo_branchspecific.gi
replay/

cfg/gamemode_*
cfg/perftest.cfg
ServerConfig.vdf
steam.inf
cfg/videodefaults.txt
cfg/server_default.cfg
cfg/server.cfg
